.warna-hijau {background-color: #0099ff;}
.teks-putih {color: white;}
.warna-putih {background-color: white;}
.tab-link-highlight {display: none;}
.teks-biru {color: #0099ff;}
.gambar-slider {width: 90%; border-radius: 10px; margin: 0px 5% 0px 5%;}

.baris-icon {margin: 0px 5% 15px 5%;}
.besar-icon {width: 100%;}
.teks-tengah {text-align: center;}

.font17 {font-size: 17px;}
